{clean_files, ["test/*.beam"]}.
{ct_extra_params, "-sname hdr_histogram_test@127.0.0.1 -logdir logs -pa ebin -pa test"}.
{ct_use_shortnames, true}.

{erl_opts, [
    debug_info,
    warn_export_all,
    warn_obsolete_guard,
    warn_unused_import,
    warn_unused_vars,
    warn_shadow_vars,
    warnings_as_errors
]}.

{deps, [
    {edown, ".*", {git, "https://github.com/uwiger/edown.git", {tag, "v0.2.4"}}}
]}.

{edoc_opts, [
    {report_missing_types, true},
    {doclet, edown_doclet},
    {source_path, ["src"]},
    {stylesheet, ""},
    {image, ""},
    {app_default, "http://www.erlang.org/doc/main"},
    {top_level_readme, {"./doc/README.md", "http://github.com/HdrHistogram/hdr_histogram_erl"}}
]}.

{port_specs, [
    { "priv/hdr_histogram_nif.so", [
      "c_src/hdr_histogram_nif.c"
      , "c_src/hdr_histogram.c"
%    , "c_src/hdr_histogram_log.c"
    ]}
]}.

{port_env, [
  {"CFLAGS", "$CFLAGS -O2 -std=c99"}
]}.
