{clean_files, ["test/*.beam"]}.
{ct_extra_params, "-noshell -sname hdr_histogram_test@127.0.0.1 -logdir logs -pa ebin -pa test"}.
{ct_use_shortnames, true}.

%% Really sorry but the warn export all and warn unused import blow up with EQC
{erl_opts, [
    debug_info,
    %warn_export_all,
    warn_obsolete_guard,
    %warn_unused_import,
    warn_unused_vars,
    warn_shadow_vars,
    warnings_as_errors
]}.

{profiles, [{docs, [{deps, [edown]},
                    {edoc_opts, [
                                 {report_missing_types, true},
                                 {doclet, edown_doclet},
                                 {source_path, ["src"]},
                                 {stylesheet, ""},
                                 {image, ""},
                                 {app_default, "http://www.erlang.org/doc/man"},
                                 {top_level_readme,
                                  {"./doc/README.md", "http://github.com/HdrHistogram/hdr_histogram_erl"}}
                                ]}]},
            {test, [{deps, [{fqc, {git, "https://github.com/project-fifo/fqc.git", {branch, "master"}}}]}]}]}.

{pre_hooks,
   [{"(linux|darwin|solaris)", compile, "make -C c_src"},
       {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
   [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
       {"(freebsd)", clean, "gmake -C c_src clean"}]}.
